.container {
    width: 180px;
    height: 180px;
    background-color: #2bc0ec;
    border: 1px solid rgb(189, 189, 189);
}

.mainContainer {
    width: 220px;
    height: 220px;
    padding-top: 30px;
    padding-left: 30px;
}